.latest {
    background-color: black;
    box-sizing: border-box;
    padding: 150px 60px;
    display: flex;
    flex-direction: column;
    margin: 0;

    &_news {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        &_container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            &_title {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                line-height: 16px;
                font-family: Orbitron;
                color: #57B8FF;
                gap: 10px;
                margin: 0;
            }

            &_subtitle {
                font-size: 64px;
                line-height: 74px;
                font-family: Orbitron;
                color: white;
                max-width: 541px;
                margin: 0;
            }
        }

        &_button {
            padding: 20px 40px;
            background-color: #57B8FF;
            color: white;
            border: none;
            font-size: 17px;
            font-family: Orbitron;
            line-height: 28px;
            cursor: pointer;
            transition: .3s;
        }

        &_button:hover {
            background-color: black;
        }
    }

    &_gallery {
        display: flex;
        box-sizing: border-box;
        margin-top: 50px;
        gap: 20px;


        &_bigElem {
            display: flex;
            flex-direction: column;
            gap: 35px;

            &_title {
                color: #57B8FF;
                font-size: 18px;
                font-family: Orbitron;
                line-height: 18px;
                margin: 0;
            }

            &_subtitle {
                color: white;
                font-size: 36px;
                font-family: Orbitron;
                line-height: 46px;
                margin: 0;
            }
        }


        &_smallElems {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;

            &_elem {
                display: flex;
                flex-direction: column;
                gap: 20px;
                max-width: 281px;


                &_title {
                    color: #57B8FF;
                    font-size: 18px;
                    font-family: Orbitron;
                    line-height: 18px;
                    margin: 0;
                }

                &_subtitle {
                    color: white;
                    font-size: 23px;
                    font-family: Orbitron;
                    line-height: 34px;
                    margin: 0;
                }
            }

        }
    }
}